/* Fake google CSS */

* {
    padding: 0;
    color: white;
    margin: 0;
    background-color: rgb(53, 54, 58);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

h1#logo {
    height: 95px;
    width: 269px;
    background: url(img/white_google.png) top left no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    margin: 0 auto;
}

#container {
    width: 580px;
    margin: 140px auto;
    text-align: center;
}

input[type="search"] {
    border-radius: 20px;
}

input[type="search"] {
    width: 566px;
    padding: 7px;
    margin: 25px 0 18px;
    border: solid 1px #ccc;
    font-size: 16px;
}

input[type="search"]:hover {
    border-color: #aaa;
}

input[type="submit"] {
    background: #eee;
    color: #333;
    border: solid 1px #ddd;
    padding: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px;
    font-weight: bold;
    border-radius: 7px;
    width: 120px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

small {
    display: block;
    margin: 10px 0 0 0;
    font-size: 10px;
}

a:link a:visited {
    color: dodgerblue;
}

#navbarTop ul li{
    display: inline;
}

#navbarTop {
    text-align: right;
    padding:  20px;
    font-weight: bold;
}

#navbarTop ul li a:link,
#navbarTop ul li a:visited,
footer nav ul li a:link,
footer nav ul li a:visited {
    color: rgb(190, 190, 190);
    text-decoration: none;
    padding: 10px;
}

#navbarTop ul li a:hover,
footer nav ul li a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer nav {
    padding: 20px;
}

footer nav ul li {
    display:inline;
}

footer nav ul {
    float: left;
}

footer nav ul.rightLinks {
    float: right;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body nav ul li img {
    width: 15px;
}


.profilePic {
background-size: 32px 32px;
border: 0;
border-radius: 50%;
margin: 0px;
height: 32px;
width: 32px;
}

